@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body{
    background-image: url(https://e0.pxfuel.com/wallpapers/48/233/desktop-wallpaper-very-scary-horror-w12-dark-night-horror.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
    color:#fafafa;
    text-align: center;
    font-family: 'Eater', cursive;
}

#lovecraft{
    text-decoration: underline;
}

#subtitle{
    display:flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    color:#A9A9A9;
    font-weight: bold;
    font-size: 1.5em;
}

#creepybanner{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

p{
    color:#fafafa;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

.main-logo{
    text-decoration: none;
}
.hero{
    position: relative;
    width: 100%; 
    height:250px; 
    color: #fafafa; 
    border: none;
    text-align: center;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5em;
    flex-wrap: wrap;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
    flex-wrap: wrap;
    
}

.story-box{
    border: none;
    color: #fafafa; 
    width: 400px; 
    height: 200px; 
    text-align: center;
    margin-top: 20px;
    position: relative;
}  

.story-box img{
    width: 100%; 
    height: 100%; 
    border-radius: 5px;
}

.story-box a{
    position: absolute;
    bottom: 0;
    right: 40px;
    color:#fafafa;
    text-decoration: none;
    font-family: 'Creepster', cursive;
    font-size: 30px;
}

.nav-container{
    position:relative;
    width: 100%; 
    height:50px; 
    background-color: #A9A9A9; 
    border: 2px solid; 
    text-align: center; 
    font-weight: bold;
    
}

.footer{
    width: 100%; 
    height:250px;
    background-color: #fafafa; 
    border: 2px solid; 
    text-align: center; 
    margin-top: 20px
}

.footer .logo1{
    font-family: 'Henny Penny', cursive;
    font-size: 1.5em;
    position: relative;
    top: 0;
    color: #f20d0d;
}

.footer .logo2{
    font-family: 'Nosifer';
    font-size: 1.5em;
    position: relative;
    top: 0;
    color: #181818;
}

.nav-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    list-style-type: none;
}

.nav-footer .nav-list li a{
    color:#181818;
    text-decoration: none;
}


.icons{
display: flex;
justify-content: center;
align-items: center;
margin-top: 2em;
gap: 1em;
list-style-type: none;
}

.icons li img{
height:20px;
width:20px;
}

.switcher{
    position: fixed;
    bottom:260px;
    right: 50px;
}

.search{
    position:absolute;
    right: 0;
    bottom: 0;
}

.logo1{
    font-family: 'Henny Penny', cursive;
    font-size: 3em;
    position: relative;
    top: 40%;
    color: #f20d0d;
    z-index: 101;
}

.logo2{
    font-family: 'Nosifer';
    font-size: 3em;
    position: relative;
    top: 40%;
    color: #fafafa;
    z-index: 101;
}

.rights{
    font-weight: bold;
}

